
.AppContainer{
  margin:15% auto;
  display:flex; 
  flex-direction: column;
  width: 300px;
}

.PageTitle{
  text-align: center;
  font-size:40px;
}

.Footer{
  text-align:center;
  font-size:15px;
}